doctype html
html
  head
    title= title
  body
    if error === undefined
      h1= "Errore sconosciuto"
    else
      h1= error
      if error.status !== undefined
        h2= error.status
      pre #{error.stack}
      
    